body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body, #root {
  height: 100%
}

a {
  text-decoration: none;
  color: #000;
}

#container {
    font-family: Lato, sans-serif;
    height: 100%;
}

#header {
    border-bottom: 1px solid #ccc;
    box-shadow: 3px 3px rgba(0,0,0,0.05);
    text-shadow: 3px 3px rgba(0,0,0,0.03);
    background-color: #fff;
    padding: 7px 80px 8px;
    font-weight: 900;
    border-top: 0px;
    font-size: 20px;
    height: 24px;
}

#scrollbox {
  width: 100%;
  height: calc(100% - 40px);
  overflow: auto;
}

#board {
    border-collapse: collapse;
    margin: 16px auto 0;
    border-spacing: 0px;
    width: 80%;
    min-width: 1000px;
}

.board_headers {
  height: 32px;
  font-size: 18px;
  text-align: left;
  padding: 0 20px;
  font-weight: 900;
  text-shadow: 3px 3px rgba(0,0,0,0.03);
}

.lane {
  border-top: 3px solid #444;
}

.label_container {
  padding: 0 8px 0 0;
  vertical-align: top;
  color: #fff;
  font-weight: 900;
  width: 1px !important;
  z-index: -1;
}

.label {
  box-shadow: 3px 3px rgba(0,0,0,0.05);
  padding: 1px 6px 6px;
  border-radius: 0 0 8px 8px;
  background-color: #444;
  position: relative;
}

.step {
  background-color: #fff;
  vertical-align: top;
  min-height: 480px;
  padding: 6px 8px 6px 8px;
}

.task {
  box-shadow: 3px 3px 0 rgba(0,0,0,0.05);
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  margin: 10px 0;
  min-height: 100px;
  padding: 12px 10px;
}

.task_title {
  border-radius: 3px;
  padding: 2px 6px;
  font-weight: 800;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.05);
}

#overlay {
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
}

#focus {
  position: fixed;
  height: 0px;
  width: 100%;
}

#focus_content {
  position: fixed;
  background-color: #ffffff;
  z-index: 2;
  width: 400px;
  min-height: 40%;
  margin: 20% auto;
  width: 50%;
}